<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="style.css">
</head>
<style>
   
</style>
<body>
    <div class="small-container cart-page">
        <div class="cart-title">
            <h2>Đơn hàng của tôi</h2>
        </div>
        <table class="order">
            <tr>
                <th>Mã đơn hàng</th>
                <th>Ngày mua</th>
                <th>Sản phẩm</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th>Hủy đơn hàng</th>
            </tr>
            <% orders.forEach(order => { %>
            <tr class="item">
                <td>
                    <a href="/orders/status/<%= order._id%>"><%= order._id%></a>
                </td>
                <td>
                 23/3/1999
                </td>
                <td>
                    <% for (let product of Object.values(order.items)) { %>
                        <%= product.item.title %><br>
                    <% } %>
                </td>
                <td><%= order.totalPrice %></td>
                <td><%= order.status %></td>
                <% if(order.status === 'order_placed') {%>
                <td>
                    <form action="/cancelorder/<%= order._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn-cancel">Hủy</button>
                    </form>
                </td> 
            <% } %> 
            </tr>
            <% }); %>
            </table>
    </div>
</body>
